# package managers
/vendor
/node_modules
npm-debug.log
yarn-error.log

# public
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json

# storage
/storage/*.key

# config & testing
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml

# ide's
/.idea
/.vscode
